div.buttons {
  width: 90%;
  margin: auto;
}

h2,
h5 {
  width: 90%;
  margin: auto;
  color: #007663;
  background-color: white;
}

button {
  margin: 20px;
  padding: 12px;
  border: none;
  background: #ff9671;
  color: white;
  border-radius: 8px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: #f7f2cb;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
